[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.7"
djangorestframework = "==3.11.0"
django-cors-headers = "==3.4.0"
djangorestframework-simplejwt = "==4.4.0"
asgiref = "==3.2.9"
pytz = "==2020.1"
sqlparse = "==0.3.1"
PyJWT = "==1.7.1"
coverage = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
