.category_item {
    background-color: #4B515D;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 7px;
}
.category_item:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.category_item:hover {
    background-color: #00c851;
}

.editbtn {
    border-radius: 0.1rem !important;
    padding: 0.3rem 1rem !important;  
}
.addrow {
    margin-left: -5px !important;
}
